body {
    background-color: lavender;

  font-family: "Comic Sans MS";

}
h2{
    font-family: 'Fredericka the Great', cursive;
}
h1{
    font-family: 'Great Vibes', cursive;
}
p{
    font-family: 'Comfortaa', cursive;
    
}
